
 @font-face {
    font-family: 'Rethink Sans'; 
    font-style: normal; 
    font-display: swap; 
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Rethink Sans'; 
    font-style: italic; 
    font-display: swap;
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
  }
