@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Rethink Sans'; 
    font-style: normal; 
    font-display: swap; 
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rethink Sans'; 
    font-style: italic; 
    font-display: swap;
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
}


@layer components { 
    body {
        font-family: 'Rethink Sans', sans-serif !important;
    }

    img {
        box-sizing: content-box;
    }

    .h1-semibold {
        @apply text-5xl text-blue-900 dark:text-blue-50 font-semibold 
    }

    .h3-marketplace {
        @apply text-3xl
    }

    .h1-marketplace {
        @apply text-xl
    }


    .h2-marketplace {
        @apply text-2xl
    }


    .box-marketplace {
        @apply bg-gray-50 dark:bg-gray-900 rounded-3xl text-gray-900 dark:text-gray-50
    }

    .arrow-cta-marketplace {
        @apply text-gray-900 md:text-3xl text-xl bg-white rounded-full dark:text-white dark:bg-gray-700
    }

    .arrow-button-marketplace {
        @apply text-gray-50 md:text-3xl text-xl bg-gray-900 rounded-full
    }

    .main-product-gallery-marketplace {
        @apply h-[300px] md:h-[400px]
    }

    .main-product-marketplace {
        @apply h-[300px] md:h-[420px]
    }

    .chip-marketplace {
        @apply rounded-full flex items-center justify-center gap-x-1.5 w-[150px] bg-white dark:bg-gray-700 border border-transparent text-sm text-gray-900 transition-all shadow-sm
    }

    .slide-marketplace {
        @apply bg-white shadow-lg rounded-full text-lg dark:bg-gray-700
    }

    .arrow-marketplace {
        @apply cursor-pointer select-none text-lg text-gray-800 dark:text-gray-50 transition-all duration-200 hover:scale-125
    }

    .button-mindaro-marketplace {
        @apply rounded-full bg-mindaro300 font-semibold text-black transition hover:bg-mindaro400 focus:outline-none focus:ring-2 focus:ring-mindaro500 focus:ring-offset-2
    }

    .button-colors-marketplace {
        @apply bg-white dark:bg-gray-200 cursor-pointer transition-all duration-200 ease-in-out hover:scale-110 focus:outline-none rounded-full
    }

    .description-main-marketplace {
        @apply bg-gradient-to-r from-gray-600 to-gray-400 dark:from-gray-100 dark:to-gray-50
    }

    .chip-text-marketplace {
        @apply text-gray-800 dark:text-gray-50
    }
    
}
