@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Rethink Sans'; 
    font-style: normal; 
    font-display: swap; 
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
}
  
@font-face {
    font-family: 'Rethink Sans'; 
    font-style: italic; 
    font-display: swap;
    font-weight: 100 900; 
    src: url('/fonts/RethinkSans-VariableFont_wght.woff2') format('woff2');
}


@layer components { 
    body {
        font-family: 'Rethink Sans', sans-serif !important;
    }

    img {
        box-sizing: content-box;
    }

    .h1-semibold {
        @apply text-5xl text-blue-900 dark:text-blue-50 font-semibold 
    }

    .h3-marketplace {
        @apply text-3xl
    }

    .h1-marketplace {
        @apply text-1xl
    }


    .h2-marketplace {
        @apply text-2xl
    }


    .box-marketplace {
        @apply bg-gray-50 dark:bg-gray-900 rounded-3xl text-gray-900 dark:text-gray-50
    }

    .arrow-cta {
        @apply text-gray-900 text-3xl bg-white rounded-full dark:text-white dark:bg-gray-700
    }
    
}
